---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";

const til = (await getCollection("til"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="space-y-8">
      <section>
        <article class="space-y-4">
          <main class="animate py-1">
            <div>
               <h2 class="text-2xl">Noelia Miranda</h2>
               <p class="text-lg dark:text-slate-200">I'm a software engineer based in Córdoba, Argentina who loves solving problems, tinkering with code, and learning new things. Right now, I'm building backend stuff at <a href="https://mercadolibre.com/">Mercado Libre</a>.</p>
            </div>
         </main>
        </article>
        <ul class="animate flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Today I Learned
          </h5>
          <p class="text-gray-800 dark:text-slate-200">A collection of short posts on things I learn day to day about programming.</p>
          <Link href="/til">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {til.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
